@import "tailwindcss";

body {
  @apply bg-indigo-50;
}

.title {
  @apply text-indigo-900 text-2xl font-bold;
}

.subtitle {
  @apply text-indigo-900 text-lg font-bold;
}

.input-primary {
  @apply border cursor-pointer border-gray-400 bg-white p-2 rounded;
}

.btn-primary {
  @apply bg-indigo-300 text-white px-3 py-2 rounded font-medium enabled:cursor-pointer enabled:hover:bg-indigo-400;
}
